<div id="home" class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Welcome to the {{ title }} page!</h2>

    <div class="alert-box">{{ message }}</div>

    <ul>
      <li>
        <img class="th" src="img/demo1.jpg" shows-message-when-hovered message="Im the first house.">
      </li>
      <li>
        <img class="th" src="img/demo2.jpg" shows-message-when-hovered message="Im the second house.">
      </li>
    </ul>

    <div class="row">
      <div class="col-md-12">
        <button ng-click="logout()" class="btn btn-primary">Log Out</button>
      </div>
    </div>
  </div>
</div>
