<div id="login" class="row">
  <div class="col-md-6 col-md-offset-3">
    <form ng-submit="login()">
      <fieldset class="radius">
        <div class="row">
          <div class="col-md-6">
            <input type="text" name="username" placeholder="username" ng-model="credentials.username" required/>
          </div>
            <div class="col-md-6">
              <input type="password" name="password" placeholder="password" ng-model="credentials.password" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button id="log-in" type="submit" class="btn btn-primary">Log In</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
